body {
    font-family: "Open Sans", serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 226px;
    margin-right: 265px;
}

.primary_color {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

nav>h3>span {
    color: #FD6E0A;
}

nav>h3 {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 0px;
}

.banner {
    padding: 30px 30px 0px 150px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.profile {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.intro {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

#name {
    margin-top: 5px;
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

#dp {
    margin-top: 0px;
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 585px;
    margin-bottom: 30px;
}

.but_fix {
    margin-top: 0;
}

main {
    width: 1550px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section_main {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;
    margin-bottom: 0px;

}

.section_para {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px;
}

.about_info_container {
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}

.about_info {
    text-align: center;
}

.info_title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}

.info_discription {
    margin-top: 2px;
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.section_para_2 {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 115px;
}

.skill_container {
    display: flex;
    margin: 0px 263px;
}

.skill {
    width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right: 24px;
}

.sikll_title {
    color: #181818;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 63px 0px 30px;
}

.skill_discription {
    margin: 20px 33px 30px 33px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.skill_images {
    margin-top: 30px;
    margin-left: 30px;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.summary_container {
    display: flex;
    margin-left: 250px;
    margin-right: 270px;
    margin-top: 113px;
}

.exp_container {
    margin-left: 12px;
}

.edu_container {
    margin-right: 12px;
}

.edu_exp_title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.edu_exp_sub_title{
    color: #474747;
font-size: 25px;
font-weight: 700;
margin-top: 30px;
margin-bottom: 0;
} 
.edu_exp_ins_name{
    color:#757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
} 
.edu_exp_discription{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
}
